.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: gray;
}
.nav-pills .nav-link{
    background-color: #1f638c;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
    width: 400px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    
    font-weight: bold;
    padding: 10px 150px;
}