
.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link{
    background-color: #BCBEC0;
    color: white;
}
.nav-tabs .nav-link{
    background-color: #8a9b37;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight:900;
    font-size: 14px;
    width: 20%;
    border-radius: 0px 0px 0px 0px;
    padding:10px 30px;
    justify-content: center;
    text-align: center;
    border: 1px solid #dee2e6; 
}
.nav-tabs{
    border-bottom: 0px solid #dee2e6;
}
.nav-tabs .nav-link:hover{
    background-color: gray;
}

#myTab .nav-link{
    background-color: #1C75BC;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight:900;
    font-size: 14px;
    width: 20%;
    border-radius: 0px 0px 0px 0px;
    padding:10px 30px;
    justify-content: center;
    text-align: center;
    border: 1px solid #dee2e6; 
}
#myTab .nav-link.active, .nav-tabs .show > .nav-link{
    background-color: #BCBEC0;
    color: white;
}
#myTab .nav-link:hover{
    background-color: #BCBEC0;
}
.nav-pills .nav-link{
    background-color: #1C75BC;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight:900;
    font-size: 14px;
   width: auto;
   
    justify-content: center;
    text-align: center;
  
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #BCBEC0;
}


@media only screen and (min-width: 10px) and (max-width: 575px){
    .nav-tabs .nav-link{
        width: 20%;
       
        font-size: 8px;
        background-color: #8a9b37;
        color: white;
        font-weight: 900;
        border-radius: 0px 0px 0px 0px;
        padding: 0.5rem 0.1rem;
        text-align: center;
        
    }

    .nav-tabs .nav-link.active, .nav-pills .show > .nav-link{
        background-color: gray;
        color: white;
        text-align: center;
    }
}