#header{
    background-color:#115089;
    height: 148px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.imagenUASLP{
   margin-right: 3vw;
   width: auto;
}
.imagenAgenda{
    margin-left: 3vw;
    width: auto;
}
.navbar{
    
    background-color: gray;
    padding: 0%;
}
.navbar .nav-item:hover{
background-color: #96A834;
}

.navbar .nav-item .dropdown-menu{ 
    display: none; 
    flex-direction: column;
}
.navbar .nav-item:hover .nav-link{ 
    color: white;  
 }
 .navbar .nav-item .nav-link{ 
    color: white;  
 }
.navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
    background-color: white;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: white;
    background-color: #97a83480;
}
.dropdown-item, .dropdown-item{
    color: gray;
}
.navbar .nav-item .dropdown-menu{
    margin-top:0; 
 }
 .navbar-brand{
    color: white;
}
.navbar-brand:hover{
    background-color: #96A834;
    color: white;
}

/*
 * El menú desplegable está restringido 
 * por el ancho de su contenedor li.
 */
ul.dropdown-menu 
{
    /*margin-right:-2000px;*/
    margin-right:0px;
}

ul.dropdown-menu > li 
{
    /*display: inline-block;*/
    display: block;
}

/*
    Estilos para el corpus de la página.
 */
#textoInicio
{
    font-family: 'Myraid light';
    font-size: 14px;
}

.botonLeerMas
{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    background-color: #96A834;
    color: white;
}

.textoAcordeon
{
    color: gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

.descripcion
{
    font-family: 'Myraid light';
    font-size: 14px;
}

.descripcion h2
{
    font-family: 'Myraid Pro Bold';
    color: #115080;
    font-weight: 300;
}

/*
    Estilos para los diferentes tipos
    de letra.
 */

@font-face 
{ 
    font-family:Myraid light;
    src: url(/TiposDeLetra/MyriadPro-Light.otf) format('opentype');
    font-display: auto;
}


@font-face 
{ 
    font-family:Myraid Pro Bold;
    src: url(/TiposDeLetra/MyriadPro-Bold.otf) format('opentype');
    font-display: auto;
}	
 
/*
    Estilos para el pie de página.
 */

footer
{
    padding: 20px 20px 20px;
    background-color: #115089;
    max-width: 100%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.seccionFooter
{
    text-align: center;
    display: inline-grid;
    list-style: none;
    width: 300px;
    height: 120px;
    font-family:Myraid light;
}

.seccionFooter li
{
    height: 25px;
    width: 280px;
}

.redSocial
{
    font-family: inherit;
    font-size: 18px;
    width: 220px;
    display: inline-block;
    text-align: start;
}

.detalleUbicacion
{
    margin-left: 15px;
    font-size: 18px;
    display: inline-block;
    text-align: start;
    color: white;
}

.mapa { display: inline-grid; }

.mapa iframe
{
    width: 100%;
    height: 100%;
}

@media (max-width: 576px)
{
    footer {  grid-template-columns: repeat(2, 1fr); }
    
    .mapa
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 768px) 
{
    footer {  grid-template-columns: repeat(2, 1fr); }
    
    .mapa
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .navbar-brand{
        display: none;
    }
    
    ul.dropdown-menu {
        margin-right: -2000px;
    }

    ul.dropdown-menu > li {
        display: inline-block;
    }
}

@media (max-width: 992px) 
{
    footer {  grid-template-columns: repeat(2, 1fr); }
    
    .mapa
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 1200px) 
{
    footer { grid-template-columns: repeat(3, 1fr); }
    .mapa
    {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
.navbar-brand{
    display: none;
}
}